@{
    ViewBag.Title = "About the Budjiteers!";
}

<div style="text-align: center">
    <h2>@ViewBag.Title</h2>
    


    <div class="col-md-3">
        <a href="/Home/Index"><img src="~/Content/images/Devin.jpg""></a>
         <p>Devin Davis is a much heralded hunting hobbiest. she's killed 50 steer this year!</p></div>
    


    <div class="col-md-3">
        <a href="/Home/Index"><img src="~/Content/images/natalie.jpg"></a>
    <p>Natalie Cobb specializes in Mentos merchandise. She crafts quality purses and shoes adorned with Mentos flair!
</p></div>

    <div class="col-md-3">

        <a href="/Home/Index"><img src="~/Content/images/carmelita.jpg"></a>
        <p>Carmelita Wingate fixes muscle cars in her spare time. She's recently reassembled a 1970 Buick GSX! </p>
    </div>



    <div class="col-md-3">
        <a href="/Home/Index"><img src="~/Content/images/hussein.jpg"></a>
         <p>Hussein Farran is an avid human speciman collector. His most recent find is the degenerated brain of a nordic fisherman!
</p></div>



    
</div>