@{
    ViewBag.Title = "Contact Us";
}
<h2>@ViewBag.Title</h2>


<address>
    Your Budjit experience is very important to us!<br />
    Call for 24 hour support<br />
    <abbr title="Phone">P:</abbr>
    313.555.0100
</address>

<address>
    Our Budjit specialists respond to emails within 12 hours.<br/>
    <strong>Support:</strong>   <a href="mailto:Support@Budjit.com">Support@Budjit.com</a><br />
   
</address>