@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome to Budjit.com</h1>
    <p class="lead">Budjit.com is a social network blog site that allows you to easily create financial budget postings and share your budgeting details with friends, family and others in your area or across the world in a fun and social way!</p>

</div>

<div class="row">
    <div class="col-md-4">
        <h2></h2>
    </div>
    <div class="col-md-4">
        <h2>Get Started Today!</h2>
        <p></p>
        <p><a class="btn btn-default" href="https://localhost:44300/Account/Register">Register here &raquo;</a></p>
    </div>
    <div class="col-md-4">
    </div>
</div>