body {
    padding-bottom: 20px;
    background-color: rgb(226, 240, 217);
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.navbar {
    background-color: rgb(197, 224, 181);
    border: 1px solid rgb(188,155,62);
    border-left: none;
    border-right: none;
    border-radius: 0;
    margin-top: 20px;
}

#auth-area {
    margin-top: 0;
    padding-top: 0;
}

#auth-area li {
    height: 40px;
}

#auth-area li a {
    line-height: 10px; 
}

.navbar a:hover {
    background-color: rgb(226, 240, 217);
}

.nav li a:hover {
    background-color: rgb(226, 240, 217);
}

#poster {
    color: #B3B3B3;
    font-size: 8px;
}

.post-list {
    list-style: none;
}

.post-list-item {
    margin: 10px 0 ;
}

.post-list-item-title {
    font-weight: bold;
    font-size: 24px;
    color: black;
    border-bottom: 1px solid black;
}

.post-list-item-title:hover {
    text-decoration: none;
}

hr {
    color: #a6d08d;
    border-color: #a6d08d;
}

.form-group input[type=checkbox] {
    transition: none;
    box-shadow: none;
    -webkit-transition: none;
    -webkit-box-shadow: none;
    width: 40px;
    height: 40px;
}

input[type=checkbox]:focus {
    border: none;
}

.form-group {
    text-align: center;
}