body {
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
}

/* Set width on the form input elements since they're 100% wide by default */
input, select {
    max-width: 256px;
}

textarea {
    max-width: 560px;
    min-height: 200px;
    min-width: 500px;
}

#poster {
    color: #B3B3B3;
    font-size: 8px;
}

.post-list {
    list-style: none;
}

.post-list-item {
    margin: 10px 0 ;
}

.post-list-item-title {
    font-weight: bold;
    font-size: 24px;
    color: black;
    border-bottom: 1px solid black;
}

a.post-list-item-title:hover {
    text-decoration: none;
}

.form-group input[type=checkbox] {
    transition: none;
    box-shadow: none;
    -webkit-transition: none;
    -webkit-box-shadow: none;
    width: 40px;
    height: 40px;
}

input[type=checkbox]:focus {
    border: none;
}

.form-group {
    
}

.budget-box {
    list-style: none;
    padding: 20px;
    border: 2px gray solid;
    background-color: lightgrey;
    width: 360px;
}

.budget-box-title {
    font-weight: bold;
    line-height: 20px;
    margin-top: 10px;
    border-bottom: 1px solid black;
}

.budget-box-title .budget-addition {
    border: none;
}

.budget-box-total {
    font-weight: bold;
    border-top: 1px solid black;
}

.budget-box-item {
}

.budget-addition, .budget-deduction {
    float: right;
}

.budget-addition {
    color: green;
}

.budget-addition:before {
    color: green;
    content: "+";
}

.budget-deduction {
    color: red;
}

.budget-deduction:before {
    color: red;
    content: "-";
}

.budget-box-editor {
    border: 1px solid #c2d0de;
    border-radius: 10px;
    padding: 5px;
}

.budget-box-editor-row {
    margin: 10px;
}

.transaction-editor {
    
}

.transaction-editor-row {
    padding-left: 5px;
    border: 1px solid #c2d0de;
    margin-bottom: 5px;
    margin-top: 5px;
    border-radius: 10px;
}

#addTransaction {
    color: blue;
}

#addTransaction:hover {
    text-decoration: none;
    color: lightblue;
}